.transition {
	width: 100%;
	height: 128px;
	padding-bottom: 32px;
	border: 0px dashed lightgray;
}

.plot path {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

div.transition > svg {
}
svg text {
	fill: black;
	font-size: 12pt;
}

select {
	display: inline;
}

form {
	width: 100%;
}

.childs .plot path {
	stroke: red;
	stroke-width: 3px;
}

body > div {
	width: 600px;
	font-family: sans-serif;
}